{% extends "streamIT/base.html" %}

{% block content %}

<div class='row'>
  <h1>Video Uploader</h1>
  <form enctype = "multipart/form-data" class="" action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" name="" value="Upload"/>
  </form>
  <br><br>
    {% for vieo in lastvideo %}
  <video width='900' controls>
    <source src="{{MEDIA_URL}}{{vieo.videofile}}" type="video/mp4">
    Your browser does not support the audio element.
  </video>

{% endfor %}


    <br><br>

    <p>Click the buttons to play or pause the audio.</p>



{% endblock %}
